{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>Добавить сказку</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


  </head>
  <body>
<section class="admin-add-usl">
    <div class="form-div-skazka">
        <form enctype="multipart/form-data"  action="" method="POST" class="form-for-skazka">
            {% csrf_token %}
            <table style = "border: 1px solid black;" cellpadding="5" cellspacing="20">
                {{ form.as_table }}
            </table>
            <div>
                <input type="submit" value="Добавить" name="add" class="btn button-form">
                <button class="btn button-form"><a href="{% url "admin_page_skazki" %}" class="adm">Назад</a></button>
            </div>
        </form>
   </div>

</section>
  <div id="footer">
    <p id="footer-text"> &copy; Copyright by Anastasia Gurina</p>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>