{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>Главная</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


  </head>
  <body>
  <button type="button" class="btn btn-danger"><a href="{% url "add_skazka" %}">Изменить</a></button>
  <div class="container">
      <div class="row">
          <table class="table table-hover">
              <thead>
            <tr>
                <th>#</th>
                <th>Название рисунка</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
              </thead>
              <tbody>
                {% for skazka in skazka_list %}
                    <tr>
                      <th scope="row">{{ skazka.id_skazka }}</th>
                      <td>{{ skazka.name }}</td>
                      <td><button type="button" class="btn btn-info"><a href="{% url "change_skazka" skazka.id_skazka %}">Изменить</a></button></td>
                      <td><button type="button" class="btn btn-warning"><a href="{% url "delete_skazka" skazka.id_skazka %}">Удалить</a></button></td>
                    </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <div id="footer">
    <p id="footer-text"> &copy; Copyright by Anastasia Gurina</p>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>