{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>Сказки бабушки Ларисы</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	
	  
  </head>
  <body>
	<nav>
		<ul>
			<li><a href="{% url 'index' %}">Главная</a></li>
			<li class="drop">
				<a href="#">Сказки</a>
				<div class="dropdownContain">
				  <div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li><a href="{% url 'skazki_lar' %}">Сказки бабушки Ларисы </a></li>
                            <li><a href="{% url 'skazki_dar' %}">Сказки юных дарований</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li><<a href="{% url 'risunki' %}">Детские рисунки</a></li>
		</ul>
  </nav>

   <div class="container">
       <div class="row">
           <div class="col-lg-1">

           </div>
           <div class="col-sm-1">

           </div>
           <div class="col-lg-8 textpriv" id="name">
               Сказки бабушки Ларисы
           </div>
       </div>
        <div class="row">
             <div class="col-lg-1">

           </div>
           <div class="col-sm-1">

           </div>
            <div class="col-lg-8" id="name">
                <a href="https://drive.google.com/file/d/1w_Pbups908hAaS7ezwNz4VeCP0SrX0hy/view?usp=sharing" target="_blank"><img
                        src="{% static 'img/sk1.png' %}" alt="Книга 1" width="200px"></a>
                <a href="https://drive.google.com/file/d/1HFIb0Vd3hJTEFjQiNl6YFmRx-ld5ZVZT/view?usp=sharing" target="_blank"><img
                        src="{% static 'img/sk2.png' %}" alt="Книга 2" width="200px"></a>
                <a href="https://drive.google.com/file/d/1HCxeFKvYFR1uQpOeTJKMwCJCt_NyFOId/view?usp=sharing" target="_blank"><img
                        src="{% static 'img/sk3.png' %}" alt="Книга 3" width="200px"></a>
            </div>
        </div>
   </div>


    <div id="footer">
        <p id="footer-text"> &copy; Copyright by Anastasia Gurina</p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>